{
  "presets": [["env", {
    "targets": {
      "node": true
    }
  }]],
  "plugins": [
    ["transform-runtime", { "polyfill": false }],
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}